<h2>Edit User</h2>
<form>
    <div class="mb-3">
        <input type="text" [(ngModel)]="editProduct.name"  name="name" placeholder="Nome prodotto..." class="form-control">
    </div>
    <div class="mb-3">
        <input type="text" [(ngModel)]="editProduct.madeIn" name="madeIn" placeholder="Lotto di provenienza..." class="form-control">
    </div>
    <div class="mb-3">
        <input type="text" [(ngModel)]="editProduct.email" name="email" placeholder="Email del costruttore..." class="form-control">
    </div>
    <div class="mb-3">
        <input type="number" [(ngModel)]="editProduct.price" name="price" placeholder="Prezzo..." class="form-control">
    </div>
    <button type="submit" class="btn btn-warning text-light form-control" (click)=saveProduct() > Conferma modifiche </button>
</form>


