<header>

    <nav class="navbar navbar-dark bg-dark">

        <div class="container-fluid">

          <a class="navbar-brand" href="#">    
                Amazuun
          </a>
        </div>

    </nav>
    

</header>
