<div class="row g-3 my-3">
    <div class="col-sm">
        <input type="text" [(ngModel)]="newProduct.name"  name="name" class="form-control" placeholder="Nome prodotto...">
    </div>
    <div class="col-sm">
        <input type="text" [(ngModel)]="newProduct.madeIn"  name="madeIn" class="form-control" placeholder="Lotto di provenienza...">
    </div>
    <div class="col-sm">
        <input type="text"  [(ngModel)]="newProduct.email" name="email" class="form-control" placeholder="Email del costruttore...">
    </div>
    <div class="col-sm">
        <input type="number" [(ngModel)]="newProduct.price"  name="price" class="form-control" placeholder="Prezzo...">
    </div>
</div>
<div class="d-grid gap-2 my-3">
    <button class="btn btn-warning text-light" type="button" (click) = createProduct() > Aggiungi prodotto </button>
</div>

