
<table class="table table-striped table-hover">
    <thead>
        <tr>
            
            <th scope="col"> Prodotto: </th>
            <th scope="col"> Provenienza: </th>
            <th scope="col"> Contatto: </th>
            <th scope="col"> Prezzo: </th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of products">
            
            <td> {{item.name}} </td>
            <td> {{item.madeIn}} </td>
            <td> {{item.email}} </td>
            <td>  {{item.price}}&euro; </td>
            <td>
                <button type="button" class="btn btn-outline-info btn-sm mx-1"  (click)="sendToCart(item)" >  add to cart </button>
            </td>
            <td>
                <button type="button" class="btn btn-outline-warning btn-sm mx-1" (click)="selectProduct(item)"> edit </button> 
            </td>
            <td>
                <button type="button" class="btn btn-outline-danger btn-sm mx-1"  (click)="removeProduct(item)" > X </button>
            </td>
        </tr>
    </tbody>
</table>