<table class="table table-striped table-hover">
    <thead>
        <tr>
            
            <th scope="col"> Prodotto: </th>
            <th scope="col"> Provenienza: </th>
            <th scope="col"> Contatto: </th>
            <th scope="col"> Prezzo: </th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of Cart">
            
            <td> {{item.name}}  </td>
            <td> {{item.madeIn}} </td>
            <td> {{item.email}} </td>
            <td> {{item.price}}&euro; </td>
            
            <td>
                <button type="button" class="btn btn-outline-danger btn-sm mx-1" (click)="removeToCart(item)" > Rimuovi dal carrello </button>
            </td>
        </tr>
    </tbody>
</table>

<hr>
<!--<button (click)="totalCart()"> Calcola totale </button>-->
<h3> Totale: </h3>
<span> {{totale}}&euro;</span>
