<app-header></app-header>

<main> 
  <h1 class="text-center mt-4"> Amazuun </h1>
  <p class="text-center text-secondary" > Aggiungi, modifica, elimina o aggiungi al carrello qualsiasi prodotto... </p>
  <div class="container">
    
      <app-new-user></app-new-user>
      <div class="row">
          <div class="col">
              <app-table  (ProductSelectEmit)="selectProduct($event)"
                          (ProductSendToCartEmit)="OpenCart()"></app-table>
          </div>
          <div class="col" *ngIf="openEdit">
              <app-edit-user  [editProduct]="editProduct" 
                              (ConfirmEditemit)="CloseEdit()" ></app-edit-user>
          </div>
      </div>
      
     <div class="mt-4" *ngIf="openCart">
       <h2> Carrello:</h2>
       <app-carrello  ></app-carrello>
     </div> 
  </div>

</main>

<app-footer></app-footer>